{% extends "base.html" %}

{% block content %}
<a class="backlink" href="/">Home</a>
<h1>{{ post }}</h1>
<p class="byline">
  Posted by {{ post.author.username }} &mdash; {{ post.published_date }}
</p>
<div class="post-body">
  {{ post.text }}
</div>
<ul class="categories">
  {% for category in post.categories.all %}
    <li>Category: {{ category }}</li>
  {% endfor %}
</ul>

{% for comment in comments %}
<div class="comments" style="padding: 10px;">
    {{ comment.text | linebreaks }}
  <p class="byline">
    Posted by {{ post.author.username }} &mdash; {{ post.published_date }}
  </p>
</div>
{% endfor %}


 <div class="card-body">
   {% if new_comment %}
   <div class="alert alert-success" role="alert">
     Your comment has been submitted!
   </div>
   {% else %}
   <h3>Share Your Thoughts</h3>
   <form method="post" style="margin-top: 1.3em;">
     {{ comment_form.as_p }}
     {% csrf_token %}
     <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
   </form>
   {% endif %}
 </div>

<!--<div class="card-body">-->
<!--  <h1>Share Your Thoughts!:</h1>-->
<!--  <form method="post" style="margin-top: 1.3em;" {% csrf_token %}>-->
<!--    {{ comment_form.as_p }}-->
<!--    <button type="submit" class="btn btn-primary  btn-lg">Submit</button>-->
<!--  </form>-->
<!--</div>-->

{% endblock %}